*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
.continer{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
}
%buttonbolim{
    border: none;
    width: 195px;
    height: 56px;
    padding: 14px 46px 15px 47px;
    border-radius: 43px;
    background-color: #3EA83B;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700px;
    line-height: 24px;
    cursor: pointer;
}
.header{
    padding-top: 29px;
    padding-bottom: 29px;
    background-color: #FFFFFF;
}
.header_continer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 315px;
    .header_image{
        width: 149px;
    }
    .header_links{
       ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 42px;
        list-style: none;
        cursor: pointer;
        li{
            font-weight: 400px;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
        :hover{
            color: #3EA83B;
        }
        .header_button{
            @extend %buttonbolim
        }
        :hover{
            color: #FFFFFF;
            background-color: #277426;
        }
       }
    }
}
.main{
    background-image: url(../image/backround.png);
    padding-top: 201px;
    padding-bottom: 159px;
    height: 762px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_continer{
    .main_title{
        width: 420px;
            h2{
                font-weight: 500px;
                font-size: 45px;
                color: #363739;
                span{
                font-weight: 500px;
                font-size: 45px;
                color: #3EA83B;
                }
            }
            h1{
                font-weight: 700px;
                font-size: 122px;
                color: #3EA83B;
            }
            p{
                font-size: 24px;
                color: #8C8C8C;
                line-height: 31px;
                margin-bottom: 24px;
            }
    }
}
.main_button{
    @extend %buttonbolim
}
.main_button:hover{
    background-color: #277426;
}
.vidious__continer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 113px;
   margin-top: 149px;
   margin-bottom: 109px;
   .youtube_vidious{
    width: 561px;
    height: 483px;
    iframe{
    border-radius: 35px;
    }
   }
   .vidious_information{
    span{
        color: #3EA83B;
        font-weight: 700px;
        font-size: 19px;
        margin-bottom: 28px;
    }
    h2{
        color: #363739;
        font-size: 46px;
        font-weight: 700px;
        margin-bottom: 37px;
    }
    p{
        color: #363739;
        font-size: 16px;
        margin-bottom: 10px;
    }
   }
}
.vidious_information #vidious_button{
    @extend %buttonbolim
}
 #vidious_button:hover{
    background-color: #277426;
 }